.icon {
	:global .tiny {
		width: 8px;
		height: 8px;
	}
	:global .ten {
		width: 10px;
		height: 10px;
	}
	:global .tenx {
		width: 17.4px;
		height: 17.4px;
	}
	:global .small {
		width: 16px;
		height: 16px;
	}
	:global .smedium {
		width: 20px;
		height: 20px;
	}
	:global .medium {
		width: 24px;
		height: 24px;
	}
	:global .medium-large {
		width: 30px;
		height: 30px;
	}
	:global .large {
		width: 36px;
		height: 36px;
	}
	:global .xxl {
		width: 60px;
		height: 60px;
	}
}
